*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero{
    background-color: #1a1a1a;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.head{
    color: aliceblue;
    margin: 1rem;
    border-radius: 1rem;
}
.container{
    background-color: #3d3d3d;
    height: 10rem;
    width: 30rem;
    border-radius: 1rem;
    overflow: auto;
}
.main{
    background-color: #4dd6f1;
    height: 7rem;
    font-size: 6rem;
    text-align: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.footer{
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.btn{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    border-style: none;
    background-color: #ef140d;
    color: white;
    transition: 500ms;
    opacity: 0.7;
}
.btn:hover{
    opacity: 1;
    transform: scale(1.2);
}